.container-page {
    width: 100% !important;
}

.table-p{
    margin: auto;
    width: 90% !important;
    height: 70vh !important;
    max-width: 50rem !important;
    margin-bottom: 5rem !important;
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    overflow: scroll !important;
    overflow-x: hidden !important;
    overflow-y: visible;
    
}
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(53, 2, 119);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


@media screen and (min-width: 768px) {
    .table-p{
        width: 80% !important;
    }
}

@media screen and (min-width: 992px) {
    .table-p {
        width: 60% !important; 
    }    
}